In [1]:
import pandas as pd

In [9]:
# save filepath to variable for easier access
melbourne_file_path ="Melbourne_House_data/melb_data.csv"
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# print a summary of the data in Melbourne data
melbourne_data.describe()

,Rooms,Price,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,13580.000000,1.358000e+04,13580.000000,13580.000000,13580.000000,13580.000000,13518.000000,13580.000000,7130.000000,8205.000000,13580.000000,13580.000000,13580.000000
mean,2.937997,1.075684e+06,10.137776,3105.301915,2.914728,1.534242,1.610075,558.416127,151.967650,1964.684217,-37.809203,144.995216,7454.417378
std,0.955748,6.393107e+05,5.868725,90.676964,0.965921,0.691712,0.962634,3990.669241,541.014538,37.273762,0.079260,0.103916,4378.581772
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.182550,144.431810,249.000000
25%,2.000000,6.500000e+05,6.100000,3044.000000,2.000000,1.000000,1.000000,177.000000,93.000000,1940.000000,-37.856822,144.929600,4380.000000
50%,3.000000,9.030000e+05,9.200000,3084.000000,3.000000,1.000000,2.000000,440.000000,126.000000,1970.000000,-37.802355,145.000100,6555.000000
75%,3.000000,1.330000e+06,13.000000,3148.000000,3.000000,2.000000,2.000000,651.000000,174.000000,1999.000000,-37.756400,145.058305,10331.000000
max,10.000000,9.000000e+06,48.100000,3977.000000,20.000000,8.000000,10.000000,433014.000000,44515.000000,2018.000000,-37.408530,145.526350,21650.000000

In [10]:
melbourne_data.columns

Index(['Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG',
       'Date', 'Distance', 'Postcode', 'Bedroom2', 'Bathroom', 'Car',
       'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude',
       'Longtitude', 'Regionname', 'Propertycount'],
      dtype='object')

In [7]:
import datetime
# What is the average land size (rounded to nearest integer)?
avg_land_size = round(melbourne_data["Landsize"].mean())

# As of today, how old is the newest home (current year - the date in which it was built)
current_year = datetime.datetime.now().year
newest_home_age = current_year - melbourne_data["YearBuilt"].max()

print("Average Land Size:", avg_land_size)
print("Newest Home Age:", newest_home_age)

Average Land Size: 558
Newest Home Age: 7.0

In [11]:
# dropna drops missing values (think of na as "not available")
melbourne_data = melbourne_data.dropna(axis=0)

In [20]:
y = melbourne_data.Price

In [45]:
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']

In [13]:
X = melbourne_data[melbourne_features]

In [16]:
X.describe()

,Rooms,Bathroom,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
count,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000,6196.000000
mean,2.931407,1.576340,471.006940,141.568645,1964.081988,-37.807904,144.990201
std,0.971079,0.711362,897.449881,90.834824,38.105673,0.075850,0.099165
min,1.000000,1.000000,0.000000,0.000000,1196.000000,-38.164920,144.542370
25%,2.000000,1.000000,152.000000,91.000000,1940.000000,-37.855438,144.926198
50%,3.000000,1.000000,373.000000,124.000000,1970.000000,-37.802250,144.995800
75%,4.000000,2.000000,628.000000,170.000000,2000.000000,-37.758200,145.052700
max,8.000000,8.000000,37000.000000,3112.000000,2018.000000,-37.457090,145.526350

In [17]:
X.head()

   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954

In [18]:
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
melbourne_model = DecisionTreeRegressor(random_state=1)

# Fit model
melbourne_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

In [19]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are")
print(melbourne_model.predict(X.head()))

Making predictions for the following 5 houses:
   Rooms  Bathroom  Landsize  BuildingArea  YearBuilt  Lattitude  Longtitude
1      2       1.0     156.0          79.0     1900.0   -37.8079    144.9934
2      3       2.0     134.0         150.0     1900.0   -37.8093    144.9944
4      4       1.0     120.0         142.0     2014.0   -37.8072    144.9941
6      3       2.0     245.0         210.0     1910.0   -37.8024    144.9993
7      2       1.0     256.0         107.0     1890.0   -37.8060    144.9954
The predictions are
[1035000. 1465000. 1600000. 1876000. 1636000.]

In [20]:
predictions = melbourne_model.predict(X)
print(predictions)

[1035000. 1465000. 1600000. ...  385000.  560000. 2450000.]

In [21]:
print("Actual target values for those homes:", y.head().tolist())

Actual target values for those homes: [1035000.0, 1465000.0, 1600000.0, 1876000.0, 1636000.0]

### Train/Test Split and Model Evaluation
In this section, I split the data into training and validation sets to evaluate our model's performance.

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

# Use the train_test_split function to split data
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Fit the model to the training data
melbourne_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = melbourne_model.predict(val_X)

In [23]:
# print the top few validation predictions
print(mean_absolute_error(val_y, val_predictions))

251876.65138799226

In [24]:
# print the top few actual prices from validation data
print(val_y.head())

6048     620000.0
9186    2320000.0
3991     750000.0
5829    1120000.0
3616    6500000.0
Name: Price, dtype: float64

In [28]:
from sklearn.metrics import mean_absolute_error
DT_val_mae = mean_absolute_error(val_y, val_predictions)
print("Decision Tree MAE:", DT_val_mae)

Decision Tree MAE: 251876.65138799226

### Underfitting and Overfitting Analysis
In this section, I check how model complexity impacts performance and look for signs of underfitting or overfitting to improve accuracy.

In [49]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)
    
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  326323
Max leaf nodes: 50  		 Mean Absolute Error:  277381
Max leaf nodes: 500  		 Mean Absolute Error:  289427
Max leaf nodes: 5000  		 Mean Absolute Error:  323742

In [50]:
# Create an empty dictionary to store MAE for each leaf size
mae_results = {}

# List of possible max_leaf_nodes values
candidate_max_leaf_nodes = [5, 25, 50, 100, 250, 500]

# Loop through each value and calculate MAE
for leaf_size in candidate_max_leaf_nodes:
    mae = get_mae(leaf_size, train_X, val_X, train_y, val_y)
    mae_results[leaf_size] = mae
    print("max_leaf_nodes:", leaf_size, "MAE:", mae)

# Find the best tree size (smallest MAE)
best_tree_size = min(mae_results, key=mae_results.get)

# Print the best max_leaf_nodes value
print("Best max_leaf_nodes is:", best_tree_size)

max_leaf_nodes: 5 MAE: 326323.8429161378
max_leaf_nodes: 25 MAE: 287748.2275432798
max_leaf_nodes: 50 MAE: 277381.35111045965
max_leaf_nodes: 100 MAE: 274561.79218475136
max_leaf_nodes: 250 MAE: 281803.3517032322
max_leaf_nodes: 500 MAE: 289427.9138208597
Best max_leaf_nodes is: 100

### Random Forest Model Evaluation
In this section, I use a Random Forest model instead of a Decision Tree to improve prediction accuracy.

In [32]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

# save filepath to variable for easier access
melbourne_file_path ="Melbourne_House_data/melb_data.csv"
# read the data and store data in DataFrame titled melbourne_data
melbourne_data = pd.read_csv(melbourne_file_path) 
# Drop rows with missing values
melbourne_data = melbourne_data.dropna()

y = melbourne_data.Price

melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                        'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]
X.head()

# Split the data into training and validation sets
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Define random forest model. Set random_state to 1
rf_model = RandomForestRegressor(random_state=1, n_estimators=100)

# fit your model
rf_model.fit(train_X, train_y)

# Calculate the mean absolute error of your Random Forest model on the validation data
rf_val_predictions = rf_model.predict(val_X)
rf_val_mae = mean_absolute_error(rf_val_predictions, val_y)
rf_val_rmse = np.sqrt(mean_squared_error(rf_val_predictions, val_y))

print("Random Forest MAE:", rf_val_mae)
print(f"Random Forest RMSE:", rf_val_rmse)

Random Forest MAE: 173864.25945341078
Random Forest RMSE: 352372.6787172537

In [31]:
import pandas as pd
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

# Save filepath to variable for easier access
melbourne_file_path = "Melbourne_House_data/melb_data.csv"

# Read the data and store it in DataFrame
melbourne_data = pd.read_csv(melbourne_file_path)

# Drop rows with missing values
melbourne_data = melbourne_data.dropna()

# Define target and features
y = melbourne_data.Price
melbourne_features = ['Rooms', 'Bathroom', 'Landsize', 'BuildingArea', 
                      'YearBuilt', 'Lattitude', 'Longtitude']
X = melbourne_data[melbourne_features]

# Split the data into training and validation sets
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

# Define Gradient Boosting model. You can tune n_estimators and learning_rate
gbr_model = GradientBoostingRegressor(random_state=1, n_estimators=100, learning_rate=0.1)

# Fit the model
gbr_model.fit(train_X, train_y)

# Make predictions
gbr_val_predictions = gbr_model.predict(val_X)

# Evaluate the model
gbr_val_mae = mean_absolute_error(gbr_val_predictions, val_y)
gbr_val_rmse = np.sqrt(mean_squared_error(gbr_val_predictions, val_y))

print("Gradient Boosting MAE:", gbr_val_mae)
print(f"Gradient Boosting RMSE:", gbr_val_rmse)

Gradient Boosting MAE: 187285.62704245048
Gradient Boosting RMSE: 357437.5957193752

In [27]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error

# 1. Decision Tree
dt_model = DecisionTreeRegressor(random_state=1)
dt_model.fit(train_X, train_y)
dt_val_predictions = dt_model.predict(val_X)
dt_mae = mean_absolute_error(val_y, dt_val_predictions)

# 2. Random Forest
rf_model = RandomForestRegressor(n_estimators=100, random_state=1)
rf_model.fit(train_X, train_y)
rf_val_predictions = rf_model.predict(val_X)
rf_mae = mean_absolute_error(val_y, rf_val_predictions)

# 3. Gradient Boosting
gbr_model = GradientBoostingRegressor(n_estimators=100, learning_rate=0.1, random_state=1)
gbr_model.fit(train_X, train_y)
gbr_val_predictions = gbr_model.predict(val_X)
gbr_mae = mean_absolute_error(val_y, gbr_val_predictions)

# Print all MAEs for comparison
print("Decision Tree MAE:       ", dt_mae)
print("Random Forest MAE:       ", rf_mae)
print("Gradient Boosting MAE:   ", gbr_mae)

Decision Tree MAE:        251876.65138799226
Random Forest MAE:        173864.25945341078
Gradient Boosting MAE:    187285.62704245048